[Unit]
Description=Prometheus node exporter
After=local-fs.target network-online.target network.target
Wants=local-fs.target network-online.target network.target

[Service]
ExecStart=/opt/prometheus-node-exporter/node_exporter
Type=simple

[Install]
WantedBy=multi-user.target
